<html>
  <head></head>
  <body>
    <% flash.each do |type, message| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= message %>
        <a href="" class="close">&times;</a>
      </div>
    <% end %>
    <header>
      <h1>The Ugly Duckling Chitter DM App</h1>
      <h3>Please feed me some CSS</h3>
      <% if session[:handle] != nil %>
        <h2>You are logged in as <%= session[:handle] %> Please Click <a href="/logout">HERE</a> to logout.<h2>
      <% else %>
        <h2>You are not logged in<h2>
        <div>
        <h3>Log in Here!</h3>
        <form action="/login" method="post">
          Username: <input type="text" name="handle">
          <input type="submit" value="Login">
        </form>
        </div>
      <% end %>
    </header>
  </body>
</html>