<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <% flash.each do |type, message| %>
        <div data-alert class="flash <%= type %> alert-box radius">
            <%= message %>
            <a href="" class="close">&times;</a>
        </div>
        <% end %>
        <section class="keep-center" name="Direct Message">
        <form action="/send_message" method="post">
            <label>User handle:</label>
            <input type="text" name="recipient_handle">
            <label>Message:</label>
            <input type="text" name="contents">
            <input type="submit" name="Send Message">
        </form>
    </body>
</html>
