<!DOCTYPE html>
<html>
<head>

</head>
<body>
<section class="keep-center" name="Direct Message">
  <form action="/send_message" method="post">
    <input type="text" name="Send Message">
    <input type="text" name="Back to inbox">
  </form>
</body>
</html>
